body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#2196f3, #e91e63);
  scroll-behavior: auto;
  scrollbar-color: #458245 #458245; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin; /* толщина */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скролла */
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #2196f3;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}